<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CeliklerMarket.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
				<key>dateExpires</key>
				<string>17.05.2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DDE3F6AE19B1AD460E1C5773DF203C9F13BAD57D</string>
						<key>dateExpires</key>
						<string>17.05.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PRL64D4YUA</string>
						<key>name</key>
						<string>OzguRND Elektronik</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PRL64D4YUA.com.OzguRND.CeliklerMarket</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PRL64D4YUA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CeliklerMarket.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b32a5424-4177-4581-8ad1-d9804d0ab9b7</string>
				<key>name</key>
				<string>Çelikler Market</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PRL64D4YUA</string>
				<key>name</key>
				<string>OzguRND Elektronik</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
